<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid menu">
    <div class="d-flex justify-content-between w-100 align-items-center">
      <a class="navbar-brand text-white mb-0" href="__INDEX__">Administrador de tareas</a>
      <button class="hamburguesa btn btn-outline-light" id="btn-hamburger" type="button" aria-label="Mostrar menú">≡</button>
    </div>

    <div class="menu-opciones mt-3" id="menuOpciones">
      <a class="btn btn-secondary m-1" href="__PAGEPATH__inicio.html">Inicio</a>
      <a class="btn btn-secondary m-1" href="__PAGEPATH__nosotros.html">Nosotros</a>
      <a class="btn btn-secondary m-1" href="__PAGEPATH__contacto.html">Contacto</a>
      <a class="btn btn-secondary m-1" href="__PAGEPATH__tareas.html">Tareas</a>
    </div>
  </div>
</nav>